*{margin: 0%;
padding: 0%;}
.navwrapper{
    
    text-align: end;
    background-color: rgb(26, 3, 3);
    padding-bottom: 3%;
    padding-top: 3%;
    background-size: cover;
   


}
.navbuttons {
    padding-right: 1%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    


}
.landingpageImage{
    opacity: 0.5;
    
    
}
.Header {
        
    text-align: center;
    padding-top: 6%;

}
.body {
    background-color: #edf1ed;
    text-align: center;
}
